In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
#显示所有列
pd.set_option('display.max_columns', 50)
#显示所有行
pd.set_option('display.max_rows', 200)

In [3]:
df1 = pd.read_csv('预付白名单正样本0412.csv',encoding='gbk')
df2 = pd.read_csv('预付白名单负样本0412.csv',encoding='gbk')

In [6]:
df1['is_pay'] = 1
df2['is_pay'] = 0

In [7]:
df = pd.concat([df1,df2])

In [8]:
df

,dt,returncode,order_id,passenger_id,gmv_total_fee,final_amt,dt_pay,yf_amt,dt_yf,is_pay
0,2021-03-05,100000,35245380256216,2903742159203,10.52,10.41,2021-03-05,NaN,NaN,1
1,2021-03-03,100000,17719405741648,17592325032492,91.47,91.47,2021-03-03,NaN,NaN,1
2,2021-03-07,100000,35245687419757,35184486684293,12.16,10.92,2021-03-07,NaN,NaN,1
3,2021-03-09,100000,17720233012370,1792740233474,11.04,6.77,2021-03-09,NaN,NaN,1
4,2021-03-04,100000,35245132489810,3391041701216,15.50,15.50,2021-03-04,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...
99995,2021-03-08,100000,17720069049353,2926319636829,8.74,NaN,NaN,NaN,NaN,0
99996,2021-03-07,100000,17719978302199,5000043866041,36.89,NaN,NaN,NaN,NaN,0
99997,2021-03-08,100000,17720120138978,17593514471835,54.70,NaN,NaN,NaN,NaN,0
99998,2021-03-06,100000,17719744455892,17592465651444,43.79,NaN,NaN,NaN,NaN,0
99999,2021-03-03,100000,17719401118285,3374839,14.06,NaN,NaN,NaN,NaN,0

In [9]:
df[['is_pay','dt','order_id','passenger_id']].to_csv('yf_prepay_model_data.csv',index=None,encoding='utf-8')

In [ ]:
df1 = pd.read_csv('预付白名单正样本0412.csv',encoding='gbk')
df2 = pd.read_csv('预付白名单负样本0412.csv',encoding='gbk')

In [2]:
df_0 = pd.read_csv('20200201_label_0_bad_debt.csv',encoding='gbk')

In [9]:
df_0

,uid,passenger_id,reg_days,user_level,create_order_cnt_1m,create_order_cnt_3m,create_order_cnt_6m,finish_order_cnt_1m,finish_order_cnt_3m,finish_order_cnt_6m,finish_gmv_1m,finish_gmv_3m,finish_gmv_6m,finish_days_1m,finish_days_3m,finish_days_6m,is_7d_unpay,is_15d_unpay,is_20d_unpay,is_30d_unpay,is_60d_unpay
0,281474976977746,267090,2868.0,5.0,116.0,297.0,375,81.0,203.0,258,302525.0,690978.0,853968,28.0,82.0,117,0,0,0,0,0
1,281474977093266,382610,2847.0,2.0,4.0,13.0,23,4.0,13.0,22,31956.0,60196.0,134577,3.0,9.0,17,0,0,0,0,0
2,281474977131067,420411,2842.0,4.0,20.0,68.0,142,16.0,55.0,106,26877.0,116596.0,226212,15.0,53.0,93,0,0,0,0,0
3,281474977190005,479349,2836.0,1.0,NaN,9.0,18,NaN,8.0,14,NaN,29300.0,49400,NaN,7.0,12,0,0,0,0,0
4,281474977398896,688240,2808.0,4.0,2.0,53.0,112,2.0,41.0,86,3872.0,79907.0,194009,2.0,29.0,58,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46409,281475000160323,23449667,2478.0,4.0,43.0,147.0,298,27.0,87.0,186,66651.0,243442.0,592265,15.0,44.0,99,0,0,0,0,0
46410,281475000885087,24174431,2469.0,2.0,NaN,4.0,5,NaN,3.0,4,NaN,4870.0,6352,NaN,3.0,4,0,0,0,0,0
46411,281475001927714,25217058,2457.0,3.0,NaN,7.0,19,NaN,7.0,17,NaN,21768.0,60041,NaN,6.0,13,0,0,0,0,0
46412,281475001997811,25287155,2456.0,1.0,NaN,1.0,4,NaN,1.0,3,NaN,1200.0,4400,NaN,1.0,3,0,0,0,0,0
46413,281475002333130,25622474,2451.0,2.0,NaN,4.0,9,NaN,4.0,9,NaN,7334.0,30391,NaN,4.0,9,0,0,0,0,0

In [6]:
df_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46414 entries, 0 to 46413
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uid                  46414 non-null  int64
 1   passenger_id         46414 non-null  int64
 2   reg_days             46263 non-null  float64
 3   user_level           45693 non-null  float64
 4   create_order_cnt_1m  27478 non-null  float64
 5   create_order_cnt_3m  39513 non-null  float64
 6   create_order_cnt_6m  46414 non-null  int64
 7   finish_order_cnt_1m  27478 non-null  float64
 8   finish_order_cnt_3m  39513 non-null  float64
 9   finish_order_cnt_6m  46414 non-null  int64
 10  finish_gmv_1m        27478 non-null  float64
 11  finish_gmv_3m        39513 non-null  float64
 12  finish_gmv_6m        46414 non-null  int64
 13  finish_days_1m       27478 non-null  float64
 14  finish_days_3m       39513 non-null  float64
 15  finish_days_6m       46414 non-null  int64
 16  is_7d_unpay          46414 non-null  int64
 17  is_15d_unpay         46414 non-null  int64
 18  is_20d_unpay         46414 non-null  int64
 19  is_30d_unpay         46414 non-null  int64
 20  is_60d_unpay         46414 non-null  int64
dtypes: float64(10), int64(11)
memory usage: 7.4 MB

In [4]:
df_1 = pd.read_csv('20200201_label_1_bad_debt.csv',encoding='gbk')

In [10]:
df_1

,uid,passenger_id,reg_days,user_level,create_order_cnt_1m,create_order_cnt_3m,create_order_cnt_6m,finish_order_cnt_1m,finish_order_cnt_3m,finish_order_cnt_6m,finish_gmv_1m,finish_gmv_3m,finish_gmv_6m,finish_days_1m,finish_days_3m,finish_days_6m,is_7d_unpay,is_15d_unpay,is_20d_unpay,is_30d_unpay,is_60d_unpay
0,281474977772809,1062153,2766,2.0,5.0,5.0,14,4.0,4.0,10,5374.0,5374.0,17270,4.0,4.0,9,1,1,1,1,1
1,281474979199350,2488694,2641,1.0,1.0,3.0,3,1.0,3.0,3,1375.0,4924.0,4924,1.0,3.0,3,1,1,1,1,1
2,281474983133028,6422372,2550,4.0,4.0,26.0,54,4.0,20.0,43,9987.0,62032.0,125323,4.0,17.0,36,1,1,1,1,1
3,281474984140936,7430280,2541,5.0,61.0,182.0,330,53.0,156.0,298,76527.0,226113.0,430255,26.0,79.0,150,1,1,1,1,1
4,281474988219538,11508882,2531,4.0,12.0,46.0,87,5.0,31.0,59,14098.0,85881.0,175756,4.0,19.0,38,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,299069674451636,17594697740980,362,1.0,NaN,NaN,1,NaN,NaN,1,NaN,NaN,9375,NaN,NaN,1,1,1,1,1,1
9995,299069678165551,17594701454895,353,4.0,39.0,79.0,120,29.0,63.0,96,70360.0,153035.0,243350,22.0,52.0,77,1,1,1,1,1
9996,299069708311187,17594731600531,306,3.0,NaN,19.0,19,NaN,17.0,17,NaN,45139.0,45139,NaN,10.0,10,1,1,1,1,1
9997,299069760014983,17594783304327,253,NaN,NaN,NaN,4,NaN,NaN,1,NaN,NaN,2742,NaN,NaN,1,1,1,1,1,1
9998,299069764964798,17594788254142,248,2.0,NaN,6.0,48,NaN,5.0,37,NaN,4253.0,24754,NaN,4.0,23,1,1,1,1,1

In [7]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uid                  9999 non-null   int64
 1   passenger_id         9999 non-null   int64
 2   reg_days             9999 non-null   int64
 3   user_level           9142 non-null   float64
 4   create_order_cnt_1m  6659 non-null   float64
 5   create_order_cnt_3m  8483 non-null   float64
 6   create_order_cnt_6m  9999 non-null   int64
 7   finish_order_cnt_1m  6659 non-null   float64
 8   finish_order_cnt_3m  8483 non-null   float64
 9   finish_order_cnt_6m  9999 non-null   int64
 10  finish_gmv_1m        6659 non-null   float64
 11  finish_gmv_3m        8483 non-null   float64
 12  finish_gmv_6m        9999 non-null   int64
 13  finish_days_1m       6659 non-null   float64
 14  finish_days_3m       8483 non-null   float64
 15  finish_days_6m       9999 non-null   int64
 16  is_7d_unpay          9999 non-null   int64
 17  is_15d_unpay         9999 non-null   int64
 18  is_20d_unpay         9999 non-null   int64
 19  is_30d_unpay         9999 non-null   int64
 20  is_60d_unpay         9999 non-null   int64
dtypes: float64(9), int64(12)
memory usage: 1.6 MB

In [11]:
## 正负样本入库

In [21]:
df_s1 = pd.read_csv('正样本sample.csv')

In [22]:
df_s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   passenger_id  100000 non-null  int64
 1   is_30d_unpay  100000 non-null  int64
dtypes: int64(2)
memory usage: 1.5 MB

In [25]:
df_s2 = pd.read_csv('负样本sample.csv')

In [26]:
df_s2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   passenger_id  100000 non-null  int64
 1   is_30d_unpay  100000 non-null  int64
dtypes: int64(2)
memory usage: 1.5 MB

In [27]:
df_sample = pd.concat([df_s1,df_s2],ignore_index=True)

In [28]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   passenger_id  200000 non-null  int64
 1   is_30d_unpay  200000 non-null  int64
dtypes: int64(2)
memory usage: 3.1 MB

In [29]:
df_sample.to_csv('yf_model_sample.csv',index=None)

In [30]:
df_sample['passenger_id'].nunique()

200000

In [32]:
df_s1['passenger_id'].nunique()

100000

In [34]:
df_model = pd.read_csv('模型数据0311.csv')

In [44]:
df_model.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   is_30d_unpay         200000 non-null  int64
 1   reg_days             199983 non-null  float64
 2   user_level           128551 non-null  float64
 3   create_order_cnt_1m  65740 non-null   float64
 4   create_order_cnt_3m  88432 non-null   float64
 5   create_order_cnt_6m  106163 non-null  float64
 6   finish_order_cnt_1m  65740 non-null   float64
 7   finish_order_cnt_3m  88432 non-null   float64
 8   finish_order_cnt_6m  106163 non-null  float64
 9   finish_gmv_1m        65740 non-null   float64
 10  finish_gmv_3m        88432 non-null   float64
 11  finish_gmv_6m        106163 non-null  float64
 12  finish_days_1m       65740 non-null   float64
 13  finish_days_3m       88432 non-null   float64
 14  finish_days_6m       106163 non-null  float64
dtypes: float64(14), int64(1)
memory usage: 22.9 MB

In [37]:
df_model.drop('passenger_id',axis=1,inplace=True)

In [39]:
df_model[df_model['reg_days']==0]

,is_30d_unpay,reg_days,user_level,create_order_cnt_1m,create_order_cnt_3m,create_order_cnt_6m,finish_order_cnt_1m,finish_order_cnt_3m,finish_order_cnt_6m,finish_gmv_1m,finish_gmv_3m,finish_gmv_6m,finish_days_1m,finish_days_3m,finish_days_6m
10105,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10849,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1550.0,1550.0,1550.0,1.0,1.0,1.0
12376,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13846,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,4146.0,4146.0,4146.0,1.0,1.0,1.0
14557,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15264,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2343.0,2343.0,2343.0,1.0,1.0,1.0
15907,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16602,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18503,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18630,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27694,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28095,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1800.0,1800.0,1800.0,1.0,1.0,1.0
28127,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29849,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30044,1,0.0,NaN,2.0,2.0,2.0,1.0,1.0,1.0,900.0,900.0,900.0,1.0,1.0,1.0
31524,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1200.0,1200.0,1200.0,1.0,1.0,1.0
35164,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2105.0,2105.0,2105.0,1.0,1.0,1.0
36637,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37570,1,0.0,NaN,3.0,3.0,3.0,1.0,1.0,1.0,1000.0,1000.0,1000.0,1.0,1.0,1.0
39260,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,980.0,980.0,980.0,1.0,1.0,1.0
40593,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1510.0,1510.0,1510.0,1.0,1.0,1.0
41746,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44433,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46288,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1489.0,1489.0,1489.0,1.0,1.0,1.0
48041,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49609,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50178,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50984,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51128,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53002,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,732.0,732.0,732.0,1.0,1.0,1.0
53219,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53301,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56871,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59095,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61307,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61462,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62149,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1900.0,1900.0,1900.0,1.0,1.0,1.0
64131,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1059.0,1059.0,1059.0,1.0,1.0,1.0
66332,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1300.0,1300.0,1300.0,1.0,1.0,1.0
67200,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2599.0,2599.0,2599.0,1.0,1.0,1.0
68411,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2842.0,2842.0,2842.0,1.0,1.0,1.0
69582,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,900.0,900.0,900.0,1.0,1.0,1.0
70157,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1768.0,1768.0,1768.0,1.0,1.0,1.0
72594,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2296.0,2296.0,2296.0,1.0,1.0,1.0
72942,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1496.0,1496.0,1496.0,1.0,1.0,1.0
74698,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1130.0,1130.0,1130.0,1.0,1.0,1.0
75650,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79016,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81237,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81334,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81700,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,974.0,974.0,974.0,1.0,1.0,1.0
85515,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2632.0,2632.0,2632.0,1.0,1.0,1.0
85679,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85982,0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2096.0,2096.0,2096.0,1.0,1.0,1.0
91082,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92795,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1678.0,1678.0,1678.0,1.0,1.0,1.0
95882,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96682,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1677.0,1677.0,1677.0,1.0,1.0,1.0
96726,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,950.0,950.0,950.0,1.0,1.0,1.0
99106,1,0.0,NaN,3.0,3.0,3.0,1.0,1.0,1.0,1445.0,1445.0,1445.0,1.0,1.0,1.0
99660,1,0.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,1980.0,1980.0,1980.0,1.0,1.0,1.0
102653,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105902,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1525.0,1525.0,1525.0,1.0,1.0,1.0
106913,1,0.0,NaN,2.0,2.0,2.0,1.0,1.0,1.0,910.0,910.0,910.0,1.0,1.0,1.0
109628,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109903,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,735.0,735.0,735.0,1.0,1.0,1.0
110532,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115605,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115755,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1004.0,1004.0,1004.0,1.0,1.0,1.0
115994,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,3040.0,3040.0,3040.0,1.0,1.0,1.0
118109,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1893.0,1893.0,1893.0,1.0,1.0,1.0
118970,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,4538.0,4538.0,4538.0,1.0,1.0,1.0
123528,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1087.0,1087.0,1087.0,1.0,1.0,1.0
124217,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125547,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2719.0,2719.0,2719.0,1.0,1.0,1.0
127842,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,4474.0,4474.0,4474.0,1.0,1.0,1.0
128953,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129171,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129330,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131835,1,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4558.0,4558.0,4558.0,1.0,1.0,1.0
134178,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134907,1,0.0,NaN,2.0,2.0,2.0,1.0,1.0,1.0,4303.0,4303.0,4303.0,1.0,1.0,1.0
135091,0,0.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2813.0,2813.0,2813.0,1.0,1.0,1.0
137973,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,950.0,950.0,950.0,1.0,1.0,1.0
139189,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140016,1,0.0,NaN,2.0,2.0,2.0,1.0,1.0,1.0,790.0,790.0,790.0,1.0,1.0,1.0
141237,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141936,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,2618.0,2618.0,2618.0,1.0,1.0,1.0
143955,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144631,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,880.0,880.0,880.0,1.0,1.0,1.0
147654,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147766,1,0.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2356.0,2356.0,2356.0,1.0,1.0,1.0
151590,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
152508,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1796.0,1796.0,1796.0,1.0,1.0,1.0
153229,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153879,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,980.0,980.0,980.0,1.0,1.0,1.0
154702,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1922.0,1922.0,1922.0,1.0,1.0,1.0
155030,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,3260.0,3260.0,3260.0,1.0,1.0,1.0
157503,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1400.0,1400.0,1400.0,1.0,1.0,1.0
158651,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,800.0,800.0,800.0,1.0,1.0,1.0
168018,0,0.0,NaN,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
168721,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170522,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174042,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175130,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175507,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1530.0,1530.0,1530.0,1.0,1.0,1.0
175511,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176744,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1215.0,1215.0,1215.0,1.0,1.0,1.0
184363,0,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
184711,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185325,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189056,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191140,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191961,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192694,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197242,1,0.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,800.0,800.0,800.0,1.0,1.0,1.0

In [46]:
df_key = df_model.copy()

In [43]:
import numpy as np
import xgboost as xgb

XGBoostError: XGBoost Library (libxgboost.dylib) could not be loaded.
Likely causes:
  * OpenMP runtime is not installed (vcomp140.dll or libgomp-1.dll for Windows, libomp.dylib for Mac OSX, libgomp.so for Linux and other UNIX-like OSes). Mac OSX users: Run `brew install libomp` to install OpenMP runtime.
  * You are running 32-bit Python on a 64-bit OS
Error message(s): ['dlopen(/Users/didi/miniconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib\n  Referenced from: /Users/didi/miniconda3/lib/python3.8/site-packages/xgboost/lib/libxgboost.dylib\n  Reason: image not found']

In [45]:
from sklearn.model_selection import train_test_split

In [53]:
df_key.fillna(999, inplace=True)

In [54]:
X = df_key.loc[:, df_key.columns != 'is_30d_unpay']
y = df_key['is_30d_unpay']

In [55]:
X_train, X_test, y_train, y_test = \
        train_test_split(X, y, test_size=0.3, 
                         shuffle=True, random_state=123, stratify=y)
np.bincount(y_train)

array([70000, 70000])

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
dtree = DecisionTreeClassifier()

In [58]:
dtree.fit(X_train,y_train)

DecisionTreeClassifier()

In [59]:
predictions_tree = dtree.predict(X_test)

In [60]:
from sklearn.metrics import classification_report,confusion_matrix

In [61]:
print(classification_report(y_test,predictions_tree))

              precision    recall  f1-score   support

           0       0.74      0.81      0.77     30000
           1       0.79      0.72      0.75     30000

    accuracy                           0.76     60000
   macro avg       0.77      0.76      0.76     60000
weighted avg       0.77      0.76      0.76     60000

In [62]:
train_tree = dtree.predict(X_train)

In [63]:
print(classification_report(y_train,train_tree))

              precision    recall  f1-score   support

           0       0.90      0.96      0.93     70000
           1       0.96      0.89      0.92     70000

    accuracy                           0.92    140000
   macro avg       0.93      0.92      0.92    140000
weighted avg       0.93      0.92      0.92    140000

In [16]:
df = pd.read_csv('预付白名单模型测试数据0326-20w.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 24 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   order_id                                 200000 non-null  int64
 1   passenger_id                             200000 non-null  int64
 2   is_unpay                                 200000 non-null  int64
 3   dt_pay                                   197907 non-null  object
 4   is_30d_unpay                             198899 non-null  float64
 5   passenger_id.1                           198899 non-null  float64
 6   user_level                               197658 non-null  float64
 7   create_order_cnt_1m                      198899 non-null  float64
 8   create_order_cnt_3m                      198899 non-null  float64
 9   create_order_cnt_6m                      198899 non-null  float64
 10  finish_order_cnt_1m                      198899 non-null  float64
 11  finish_order_cnt_3m                      198899 non-null  float64
 12  finish_order_cnt_6m                      198899 non-null  float64
 13  finish_gmv_1m                            198899 non-null  float64
 14  finish_gmv_3m                            198899 non-null  float64
 15  finish_gmv_6m                            198899 non-null  float64
 16  finish_days_1m                           198899 non-null  float64
 17  finish_days_3m                           198899 non-null  float64
 18  finish_days_6m                           198899 non-null  float64
 19  is_businessman                           198542 non-null  float64
 20  pct_call_orders_evening_peak_30_d_fast   189908 non-null  float64
 21  pct_call_orders_morning_peak_30_d_fast   189908 non-null  float64
 22  pct_call_orders_regular_hours_30_d_fast  189908 non-null  float64
 23  pct_call_orders_workday_30_d_fast        189908 non-null  float64
dtypes: float64(20), int64(3), object(1)
memory usage: 36.6+ MB

In [18]:
df[['is_30d_unpay','passenger_id']].groupby('is_30d_unpay').count()

              passenger_id
is_30d_unpay
0.0                 172244
1.0                  26655